# Ignore Gradle project-specific cache directory
.gradle

# Ignore local IntelliJ directory
.idea

# Ignore Mac local .DS_Store file
.DS_Store

# Ignore Gradle build output directory
build

/gradle/wrapper/gradle-wrapper.properties
